<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-YYj0l2R+0s34F6fKcjswv5gVj4UjU36VZH5aOaH3ZwLOz9PjXDp3J6SYzGmbe6zT" crossorigin="anonymous">

</head>
<body style="background-color:black">

    <nav class="navbar navbar-expand-lg" style="background-color:#00a65a">
    <a class="navbar-brand text-white" href="#">My Book Recommender</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="/recommend">Recommend</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Contact</a></li>
        </ul>
    </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="ol-12">
                <h1>Top 50 books</h1>
            </div>
        </div>
    </div>

</body>
</html>